@import url(https://fonts.googleapis.com/css?family=Oswald:700);

body {
  background: #231f20;
  text-align: center;
}

h1 {
  color: #fff;
  font-family: "Oswald";
  font-weight: 700;
  position: relative;
  margin: 30px auto;
  text-transform: uppercase;
  width: 550px;
}

body::before,
body::after {
  content: "";
  background-color: #4a90e2;
  display: inline-block;
  height: 30px;
  width: 30px;
  position: absolute;
}

body::before {
  border-radius: 125px 0px 0px 125px;
  left: 700px;
  top: 40px;
}

body::after {
  border-radius: 0px 125px 125px 0px;
  left: 1190px;
  top: 40px;
}
